body{
    background-image: url('https://0utwqfl7.cdn.imgeng.in/explore-academics/programs/images/undergraduate/henson/geographymajorMH.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*Stil za karticu unutar koje se nalazi pitanje i ponuđeni odgovori*/
#wrapper{
    text-align: center;
    border-style: solid;
    border-color:rgb(255, 255, 255);
    background-image: url('https://images.floorforce.com/Textures/18147/Ceramic-and-Porcelain/e42f0e47-d2ec-4b0e-9ad0-7170b8b5f3c8/Images/Azure6x6Matte_500x500.jpg?vaumkp=image_url');
}

/*Stil za naslov*/
#title{
    background-image: url('https://images.floorforce.com/Textures/18147/Ceramic-and-Porcelain/e42f0e47-d2ec-4b0e-9ad0-7170b8b5f3c8/Images/Azure6x6Matte_500x500.jpg?vaumkp=image_url');
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-color:rgb(255, 255, 255);
    align-content: center;
    color: rgb(255, 255, 255);
    box-shadow: 0 30px 50px 0 rgba(0,0,0,0.2);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/*Stil za pitanje*/
#question{
    color: white;
}

/*Stil za uputu*/
#instruction{
    color: white;
}

/*Stil za odgovore*/
.answer{
    color: white;
    border-style: solid;
    border-color: white;
}

.answer:hover{
    color:rgb(255, 251, 0);
    background-color: rgba(14, 172, 0, 0.952);
}